.listcell_contain {
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 98%;
    overflow: hidden;
    background-color: #e4e4e4;
}
.listcell_contain img {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 120px;
}
h3 {
    position: absolute;
    padding-left: 5px;
    font-size: 16px;
    top: 5px;
    height: 20px;
    line-height: 20px;
}
.cell_des {
    position: absolute;
    top: 145px;
    background-color: wheat;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}